
<div class="container"></div>
<div class="content " role="main">
   <!-- Highlight Card -->
   <div class="card highlight-card card-small">
      <div class="banner-card">
         <div class="container"></div>
         <header>
            <div>
               <nav class="navbar navbar-expand-md navbar-light bg-light justify-content-between">
                  <img src="../../assets/img/mediscreen-logo.png" width="240" height="60" alt="Site logo" />
                  <form>
                     <input type=" search" placeholder="Search..." aria-label="Search" />
                     <button type="button"><i class="fas fa-search">🔎︎&nbsp;&nbsp;</i></button>&nbsp;&nbsp;&nbsp;&nbsp;
                  </form>
               </nav>

               
               <nav class="col navbar navbar-expand-lg navbar-dark bg-info font-weight-bold">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                     aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  </button>
                  <ul class="navbar-nav mx-auto ">
                     <li class="nav-item nav-link px-3"><a class="nav-link" href="/">Home</a>
                     </li>
                     <li class="nav-item nav-link px-3"><a class="nav-link" href="#">About</a>
                     </li>
                     <li class="nav-item nav-link px-3"><a class="nav-link" href="/patients">Services</a>
                     </li>
                     <li class="nav-item nav-link px-3"><a class="nav-link" href="#">Resources</a>
                     </li>
                     <li class="nav-item nav-link px-3"><a class="nav-link" href="#">News Blog</a>
                     </li>
                  </ul>
               </nav>
            </div>
         </header>
      </div>
   </div>
</div>

