

<div class="container">
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <div class="row">
     <div class="banner-card col-12 col-md-12 order-lg-2 col-lg-9 px-0">
        <br /><br /><br />
        <img src="/../../assets/img/mediscreen-people.png" alt="FrongPageImage" width="100%" height="70%" />
     </div>
     <div class="col-12 col-md-12 order-lg-1 col-lg-3 px-1 pt-2 text-left ">
        <h2 class="text-primary text-bold font-weight-bold text-info pt-4">We care.</h2>
        <br />
        <p> Mediscreen specializes in detecting risk factors for disease.
           Our screenings using predictive analysis of patient populations at
           an affordable cost.
        </p>
        <ul>
           <li>Are you a small or rural clinic or practice?</li>
           <li>Do you nedd screenings for heart disease or hypertension precursors?</li>
        </ul>
        <h4 class="text-primary text-bold font-weight-bold text-info pt-4">We have a solution for you.</h4>
     </div>
  </div>
  <br /><br /><br />
</div>
<div >
  <br /><br /><br />
  <div class="container"></div>
  <div class="row bg-info">
     <span style="text-align: center; color: lightgray;">All Rights Reserved 2022 @OpenClassrooms</span>
  </div>
</div>

