<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add New Note</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/custom.css">
</head>
<body>



<div class="container mt-4">

<nav class="navbar navbar-light bg-light justify-content-between">

<img src="/img/mediscreen-logo.png" width="240" height="60" alt="Site logo">
  <form class="form-inline">
  
  <!-- Search form -->
    <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="button"><i class="fas fa-search">🔎︎</i></button>
  </form>
</nav>


					</div>


	<!-- Navigation -->
	<div th:replace="fragments/general.html :: navigation"></div>




<div class="container">
<br/>
    <div class="row mt-4">
        <div class="col-6">
        </div>
        <div class="col-6 text-right">
            <a href="/patient/list"><button type="button" class="btn btn-primary bg-warning btn-sm mr-2 mb-2 font-weight-bold text-dark btn btn-outline-light"> ☛ Return to Patient List</button></a>
             
        </div>
    </div>

    <div class="row mt-2">
        <h2 class="text-info">Add New Note</h2>
    </div>
<br/>
    <div class="row">
        <form action="#" th:action="@{/note/validate}" th:object="${noteDTO}" method="post" class="form-horizontal"
              style="width: 100%">
            <input type="hidden" th:field="*{patientId}" id="patientId">
            <div class="form-group">
                <label for="birthDate" class="col-sm-2 control-label">Date</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{date}" id="birthDate" placeholder="yyyy-MM-dd" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="note" class="col-sm-2 control-label">Note</label>
                <div class="col-sm-10">
                    <textarea type="text"style="height:100px;" th:field="*{note}" id="note" placeholder="Note"
                              class="col-4"></textarea>
                    <p class="text-danger" th:if="${#fields.hasErrors('note')}" th:errors="*{note}"></p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <a class="btn btn-danger btn-sm" th:href="@{/note/list/{id}(id=${noteDTO.patientId})}">Cancel</a>
                    <input class="btn btn-primary btn-sm" type="submit" value="Add Note">
                </div>
            </div>
        </form>
    </div>
</div>




<div class="container mt-4 md-4">
	<!-- Footer -->
	<div th:replace="fragments/general.html :: footer"></div>


	<script src="/webjars/jquery/3.6.0/jquery.slim.min.js"></script>
	<script type="text/javascript"
		src="/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
 </div>


</body>
</html>
